.searchModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.909);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.searchModal > form {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  margin-top: 50px;
}

.searchModal > form > input {
  width: 90%;
  border-radius: 10px;
  padding: 10px;
}

.searchModal > form > button {
  background-color: #bb3587;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.searchModal > form > h2 {
  color: white;
  font-size: 20px;
}

.searchModal > form > p {
  color: white;
  font-size: 20px;
}

.searchModal > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  color: thistle;
  overflow-y: auto;
}

.searchModal > div > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}


.searchModal > div > ul > li {
  list-style: none;
  display: flex;
  background-color: #bb358849;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.searchModal > div > ul > li > img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.searchModal > div > ul > li > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-left: 20px;
}

.searchModal > div > ul > li > div > p {
  font-size: 15px;
}

.searchModal > div > ul > li > div > h3 {
  text-align: left;
}

.searchModal > div > p {
  width: 100%;
  display: flex;
}

.searchModal > span {
  position: absolute;
  top: 12px;
  right: 12px;
  color: thistle;
  font-size: 35px;
  cursor: pointer;
}