.header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 100%;
  height: 80px;
  background: rgb(47,14,34);
background: linear-gradient(94deg, rgba(47,14,34,1) 0%, rgba(187,53,135,1) 50%, rgba(255,134,208,1) 100%);
border-bottom: #bb3587 5px solid;
}

.header > img {
  transform:scale(0.4);
}

.header > h2 {
  color: white;
  font-size: 2em;
  margin-right: 50px;
}

.songsList {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}

@keyframes fadeInZoom {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.07);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.songCard {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.442);
  color: black;
  border-radius: 15px;
  margin-top: 20px;
  height: 120px;
  align-items: center;
  animation: fadeInZoom 0.3s ease-out forwards;
}

.songCard > div > h3 {
  font-size: 30px;
}

.songCard > div > p {
  font-size: 20px;
}

.songCard > div > img {
  display: flex;
  filter: drop-shadow(3px 3px 0.20rem #4b1737);
  border-radius: 8px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.buttons > button {
  background-color: #bb3587;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  width: 120px;
  height: 60px;
}

.buttons > button:nth-last-child(1) {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  width: 120px;
}