.body {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100svh;
  width: 100%;
  overflow-x: hidden;
}

.main {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  width: 100%;
}

.header > img {
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.538));
  transform: scale(0.75);
}

.header > p {
  color: whitesmoke;
  margin-top: -20px;
}

.image {
  position: absolute;
  right: 0;
  top: 150px;
  height: 600px;
  width: 180px;
  display: flex;
  justify-content: flex-start;
}

.image img {
  width: auto;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(rgba(0, 0, 0, 0.388) 0 0 15px);
  animation: intro 1s;
}

@keyframes intro {
0% {
  transform: translateX(180px);
}
100% {
  transform: translateX(0);
}
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
}

.links > div {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 -20px;
  width: 150%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.364);
  transform: rotateZ(-10deg);
}

.links > div > p {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
  font-size: 70px;
  font-weight: 600;
  color: rgba(250, 235, 215, 0.090);
  z-index: -20;
  text-align: left;
  animation: fadein 4s
}

.links > div:nth-child(1) > a > img,
.links > div:nth-child(2) > a > img {
  margin-left: 90px;
  cursor: pointer;
}

.links > div:nth-child(1) > a > img {
  animation: fadein 3s;
}

.links > div:nth-child(2) > a > img{
  opacity: 0;
  animation: fadein 3s 0.3s forwards;
}

.links > div:nth-child(3) > a > img {
  opacity: 0;
  margin-left: -80px;
  transform: scale(0.5);
  animation: fadein 3s 0.6s forwards;
  cursor: pointer;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1
  }
}

.chonijacontact {
  color: whitesmoke;
  margin-top: 90px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.364);
  width: 200px;
  border-radius: 0 20px 20px 0;
} 

.chonijacontact > a {
  text-decoration: none;
  color: inherit;
}

.footer {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.587);
  color: white;
  padding: 10px;
}

.footer > p {
  font-size: 13px;
}

@media screen and (max-width: 400px) {
  .links > div:nth-child(3) > a > img {
    margin-left: -100px;
    transform: scale(0.45);
  }
}